# All times are in America/Los_Angeles timezone (PST/PDT)
# Run the script at 2 AM PST/PDT on business days (Monday-Friday)
0 2 * * 1-5 /bin/bash -c 'source /app/venv/bin/activate && python /app/run.py 1>> /var/log/cron.log 2>> /var/log/cron.error.log'
