# All times are in America/Los_Angeles timezone (PST/PDT)
# Run the script at 2 AM PST/PDT on business days (Monday-Friday)
0 2 * * 1-5 echo "[$(date)] Running cron job..." >> /var/log/cron.log && /bin/bash /app/startup.sh cron >> /var/log/cron.log 2>&1
